/* Custom google font link */
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS HEX provided by coolors*/
:root {
--eerie-black: #111d13ff;
--shamrock-green: #499f68ff;
--rose-ebony: #613a3aff;
--lavender-pink: #f9b3d1ff;
--salmon-pink: #ef959dff;
--title-green: rgb(151, 231, 181);
}

/* CSS Variables */
:root {
    --primary-font: "Almendra", sans-serif;
    --primary-color: var(--rose-ebony);
    --secondary-font: "Raleway", sans-serif;
}

/* Global styles */

body {
    background-color: var(--primary-color);
    font-family: var(--primary-font);

}

h2 , h3 {
    font-family: var(--secondary-font);
}

p {
    font-family: var(--secondary-font);
}

/* Navbar styles */

.navbar img {
    width: 20px;
    height: 20px;
}

/* Index page styles */

#hero-image {
    background: url("../homepage-images/festival-homepage-2.webp") no-repeat;
    background-position: 50% 91%;
    background-clip: content-box;
    
    margin-top: 75px; 
}

.head-text * {
    color: var(--title-green);
    text-shadow: #a19999 2px 2px;
    padding-top: 82px; 
    font-size: 7rem;
}

.homepage-heading {
    color: var(--shamrock-green);
    text-align: center;
    padding-top: 5px;
}

.info-text {
    height: 495px;

}

.info-main .card, .carousel {
    margin-top: 35px;
    border-radius: 0;
}

.carousel-item, .carousel-inner {
   /* padding-top: 20px; */
    height: 495px;
    overflow: hidden;
}

.info-main h2 {
    color: var(--shamrock-green);
    font-family: var(--primary-font);
}

/* Artists page styling */

#primary-artists {
    margin-bottom: 50px;
    row-gap: 25px;
}

#primary-artists h1 {
    text-align: center;
    color: var(--salmon-pink);
}

/*.saturday-headliner {
    
} */

#secondary-artists {
    margin-bottom: 20px;
}

.secondary-artists-card {
    width: 350px;
    height: 300px;
    padding: 0;
}

.secondary-artists-card > img {
    height: 240px;
}

.img-crop {
    height: 240px;
    object-fit: cover;
} 

/* Food page styling */

.food-row {
    padding-top: 50px;
}

.food-card {
    padding-left: 0px;
    padding-right: 0px;
}

.spotify-button {
    background-color: var(--shamrock-green);
    border-color: var(--shamrock-green);
}

.instagram-button {
    background-color: var(--salmon-pink);
    border-color: var(--salmon-pink);
}

/* Footer styling */

footer {
    padding-top: 50px;
    padding-bottom: 15px;
    text-align: center;
}

/* Media queries */

/* Small devices (576px and up) */

/* Medium devices (768px and up) */

/* Large devices (992px and up) */

/* Extra large devices (1200px and up) */