/* Custom google font link */
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS HEX provided by coolors*/
:root {
--eerie-black: #111d13ff;
--shamrock-green: #499f68ff;
--rose-ebony: #613a3aff;
--lavender-pink: #f9b3d1ff;
--salmon-pink: #ef959dff;
}

/* CSS Variables */
:root {
    --primary-font: "Almendra", sans-serif;
    --primary-color: var(--rose-ebony);
    --secondary-font: "Raleway", sans-serif;
}

/* Global styles */

body {
    background-color: var(--primary-color);
    font-family: var(--primary-font);

}

h2 {
    font-family: var(--secondary-font);
}

p {
    font-family: var(--secondary-font);
}

/* Navbar styles */

.navbar {
    margin-bottom: 25px;
}

/* Index page styles */

#hero-image {
    display: block;
    width: 100%;
    height: 250px;
    background: url(./homepage-images/festival-homepage-2.webp);
    align-content: center;

}

#hero-image > h1, h2 {
    color: var(--shamrock-green);
}

.info-main {
    padding-top: 50px;
    border-radius: 0;
    height: 495px;
    margin-bottom: 150px;
}

.carousel-item {
    overflow: hidden;
}

/* Artists page styling */

#primary-artists {
    margin-bottom: 50px;
    row-gap: 25px;
}

#primary-artists h1 {
    text-align: center;
    color: var(--salmon-pink);
}

#secondary-artists {
    margin-bottom: 20px;
}

.secondary-artists-card {
    width: 350px;
    height: 300px;
    padding: 0;
}

.secondary-artists-card > img {
    height: 240px;
}

.img-crop {
    height: 240px;
    object-fit: cover;
}



/* Food page styling */

.food-row {
    padding-bottom: 50px;
}

.food-row > img {
    width: 500%;
} 

/* Footer styling */

footer {
    margin-top: 25px;
    padding-bottom: 15px;
}

footer ul {
    display: flex;
    flex-direction: row;
}

footer li {
    margin-right: 50px;
    text-align: center;
}

